.popular-experiences {
    margin-top: 20px;
  }
  
  .popular-experiences h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .experiences-list {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
  }
  
  .experience-card {
    display: flex;
    align-items: center;
    width:200px;
    background: white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0);
    
  
  }
  
  .experience-img {
    width: 60px;
    border-radius:5px;
    height:60px;
    object-fit: cover;
    margin-right: 10px;
  }

  .experience-details{
    flex:1;
  }
  
  .experience-details h3 {
    font-size: 14px;
    margin: 2px 0;
    color:green;
   
  }
  
  .experience-details p {
    font-size: 14px;
    color: gray;

  }

